
html { 
  background-size: cover;
  background-image: url(../images/adele.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
body {
	position:relative;
  margin-left:100px;
	font-family: "Raleway",sans-serif; 
  font-style: normal;
  color: white;
  text-align: left;
   
}

h1 {
    font-size:30px;
    font-weight: 100;  
    text-align: right;  
    margin-top: 100px; 
    margin-right: 40px;
}

h2 {
    font-size:50px;
    font-weight: 100; 
    font-size: 100px;
}
h3 {
    font-size:350px;
    font-weight: 400; 
    font-size: 100px;
    
}
#back {
    position:absolute;
    top:330px; left:0;
    color: black; 
}

p  {
    font-size: 14px;
    color: white;
    font-weight: 100;
    line-height: 1.5;  
}

p.chorus {
    font-size: 30px;
    font-weight: 100;
}
section.footer {
  text-align: right;
  margin-right: 30px;

}

a{
  color: white;
    }

a:hover {
  color: rgb(80, 80, 80);
}