
html { 
  background-size: cover;
  background-image: url(../images/adele.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
body {
	position:relative;
  margin-left:100px;
	font-family: "Raleway",sans-serif; 
  font-style: normal;
  color: white;
  text-align: left;
   
}

h1 {
    font-size:30px;
    font-weight: 100;  
    text-align: right;  
    margin-top: 100px; 
    margin-right: 40px;
}

h2 {
    font-size:50px;
    font-weight: 300; 
    font-size: 100px;
    text-shadow: 5px 5px black;
}
h3 {
    font-size:350px;
    font-weight: 400; 
    font-size: 100px;
    color:rgb(242, 225, 228);
    text-shadow: 11px 5px black;
    
}


p  {
    font-size: 14px;
    color: white;
    font-weight: 100;
    line-height: 1.5;  
}

p.chorus {
    font-size: 30px;
    font-weight: 100;
}
section.footer {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 50px;

}

.socialmedia {
  margin-bottom: 150px;
}

a{
  color: white;
    }

a:hover {
  color: rgb(255, 240, 242);
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(255, 240, 242,.5); 
    color: black; 
    cursor: pointer; 
    padding: 30px; 
    /*border-radius: 10px; */
}

#myBtn:hover {
    background-color: black;
       color: white; 
}